# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Environment / secrets
.env
.env.*

# Databases / local data
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db